<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles.css" />
    <title>Weather App</title>
  </head>
  <body>
    <h1>Map</h1>
    <div id="map">HEY check console</div>
    <script src="/home.js"></script>
  </body>
</html>
